* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font: 1em sans-serif;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 1200px) {
    html {
        font-size: 57%;
    }
}

@media (max-width: 900px) {
    html {
        font-size: 52%;
    }
}

@media (max-width: 600px) {
    html {
        font-size: 42%;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(-0%);
    }
}

@keyframes slideUp {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateY(-0%);
    }
}

@keyframes slideOut {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

@keyframes slideDown {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0%);
    }
}

:root {
    --primary-color: hsl(221, 100%, 50%);
    --secondary-color: hsl(221, 100%, 50%, 0.1);
    --neutral-color: hsl(0, 0%, 0%);
    --cl-text-color: #ffffff;
    --text-dark: #2e2e2e;
    --shadow: hsl(262, 47%, 55%, 0.3);
}


/* header style starts here */
header {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--cl-text-color);
    box-shadow: 2px 2px 2px 2px var(--secondary-color);
    z-index: 5;
}

.logo-title {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.logo {
    background-color: var(--primary-color);
    height: 5rem;
    width: 5rem;
    border-radius: 1rem;
}

.logo1 {
    height: 2rem;
    width: 2rem;
    border-radius: 1rem;
}

.logo-img {
    width: 10rem;
    height: 10rem;
    background-color: var(--primary-color);
}

nav {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.mobile-menu {
    display: none;
    font-size: 4rem;
}

@media (min-width: 300px) and (max-width: 800px) {
    nav {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

}

.mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 10rem;
    right: 5rem;
    box-shadow: 2px 2px 2px 2px var(--secondary-color);
    padding: 2rem;
    z-index: 10;
    background-color: var(--cl-text-color);
    animation: slideIn 0.3s ease-in-out;
}

.mobile-nav-wrapper {
    display: none;
}

/* @media (min-width: 300px) and (max-width: 800px) {
    .mobile-nav-wrapper {
        display: block;
    }
} */

ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
    cursor: pointer;
}

h3 {
    color: var(--primary-color);
    font-weight: bold;
    font-size: 3rem;
}

@media (min-width: 300px) and (max-width: 800px) {
    h3 {
        color: var(--primary-color);
        font-weight: bold;
        font-size: 1.5rem;
    }
}


button {
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    font-weight: bold;
}

button:hover {
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    background-color: var(--cl-text-color);
    color: var(--primary-color);
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}



/* first-hero section */
.first-hero-section {
    padding: 20rem 6rem 10rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
    /* height: 100vh; */
    justify-content: center;
    background-image: url('images/bg-hero.png');
    background-size: cover;
}

.hero-section-title {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

h1 {
    font-size: 5rem;
    color: var(--primary-color);
}

@media (min-width: 300px) and (max-width: 800px) {
    h1 {
        font-size: 4rem;
        color: var(--primary-color);
    }
}


p {
    font-size: 2.5rem;
    line-height: 1.5;
    color: var(--neutral-color);
}

@media (min-width: 300px) and (max-width: 800px) {
    p {
        font-size: 2rem;
        line-height: 1.5;
        color: var(--neutral-color);
    }
}

.hero-section-button {
    background-color: var(--primary-color);
    color: var(--cl-text-color);
    width: 20rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.hero-section-footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.hero-footer {
    display: flex;
    color: var(--primary-color);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 1rem 3rem;
    border-radius: 1rem;
    width: 25rem;
}

.hero-footer:hover {
    display: flex;
    color: var(--primary-color);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--cl-text--color);
    padding: 1rem 3rem;
    border-radius: 1rem;
    width: 25rem;
    box-shadow: 2px 2px 2px 2px var(--secondary-color);
    transition: all 0.3s ease-in-out;
}

i {
    font-size: 2rem;
    color: var(--primary-color);
}

h6 {
    font-size: 2rem;
}


/* secon-hero sections starts here */
.second-hero-section {
    padding: 10rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
}

.second-hero-containers {
    padding: 2rem;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2rem;
    width: 48%;
    transition: all 0.3s ease-in-out;
}

.second-hero-containers:hover {
    padding: 4rem;
    background-color: var(--cl-text-color);
    box-shadow: 2px 2px 2px 2px var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2rem;
    width: 48%;
}

@media (min-width: 300px) and (max-width: 800px) {
    .second-hero-containers {
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    .second-hero-containers:hover {
    padding: 4rem;
    background-color: var(--cl-text-color);
    box-shadow: 2px 2px 2px 2px var(--secondary-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2rem;
    width: 100%;
}
}

#h1 {
    text-align: center;
    width: 100%;
}

.second-hero {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    flex-wrap: wrap;
}

#p {
    font-size: 2rem;
}

h4 {
    font-size: 2.5rem;
    color: var(--primary-color);
}






/* third-hero sections starts here */
.third-hero-section {
    padding: 10rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
    background-color: var(--secondary-color);
}

.third-hero-head {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#h6 {
    color: var(--neutral-color);
}

.third-hero {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
    align-items: center;
    justify-content: center;
}

.third-hero-header {
    display: flex;
    color: var(--primary-color);
    gap: 2rem;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 1rem 3rem;
    border-radius: 1rem;
    width: 25rem;
}

#h66 {
    font-size: 2rem;
    padding-top: 0rem;
}

.third-hero-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}

.icon {
    background-color: var(--secondary-color);
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.img-dashed {
    height: 20rem;
    width: 40rem;
    position: absolute;
    margin-top: -7rem;
    margin-left: -15rem;
}

@media (min-width: 768px) {
    .third-head-container {
        display: flex;
        width: 40%;
    }
}

@media (min-width: 1248px) {
    .third-head-container {
        display: flex;
        width: 40rem;
        padding: 2rem;
        border-radius: 2rem;
    }
}

@media (max-width: 767px) {
    .third-head-container {
        display: flex;
        background-color: var(--secondary-color);
        padding: 2rem;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
    }

    .third-head-container:hover {
        background-color: var(--cl-text-color);
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: 2px 2px 2px 2px var(--secondary-color);
    }
}

@media (max-width: 414px) {
    .third-head-container {
        background-color: var(--secondary-color);
        padding: 2rem;
        border-radius: 2rem;
        transition: all 0.3s ease-in-out;
    }

    .third-head-container:hover {
        background-color: var(--cl-text-color);
        padding: 2rem;
        border-radius: 2rem;
        box-shadow: 2px 2px 2px 2px var(--secondary-color);
    }
}

.img-dashed-container {
    display: block;
}

@media (min-width: 1248px) {
    .img-dashed-container {
        display: block;
    }
}

@media (min-width: 853px) {
    .img-dashed-container {
        display: none;
    }
}

.img-dashed-container2 {
    display: none;
}

@media (max-width: 1248px) {
    .img-dashed-container2 {
        display: none;
    }
}

@media (min-width: 768px) {
    .img-dashed-container2 {
        display: block;
    }
}

.img-dashed2 {
    height: 20rem;
    width: 30rem;
    position: absolute;
    margin-top: -8rem;
    margin-left: -12rem;
}

@media (min-width: 300px) and (max-width: 1028px) {
    .img-dashed-container {
        display: none;
    }
}







/* fouth-hero sections starts here */
.fourth-hero-section {
    padding: 10rem 6rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    width: 100%;
}

.review {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.review-info {
    background-color: var(--secondary-color);
    padding: 2rem;
    width: 60rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border-radius: 2rem;
}

/* .review-img {
    background: var(--primary-color);
    padding: 2rem;
    height: 15rem;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.review-container {
    display: flex;
    gap: 8rem;
    overflow-x: auto;
    padding: 2rem;
}

.img-review {
    border-radius: 50%;
    height: 15rem;
    width: 15rem;
    margin-left: -10rem;
    border: 5px solid var(--primary-color);
}

.section-four-title {
    background-color: var(--primary-color);
    padding: 8rem 3rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.section-four-h1 {
    color: var(--cl-text-color);
}

.section-four-p {
    color: var(--cl-text-color);
    font-size: 2rem;
}

.section-four-button {
    background-color: var(--cl-text-color);
    color: var(--primary-color);
    width: 15rem;
}

#p-review {
    font-size: 2rem;
    width: 40rem;
}




/* the footer section is here */
footer {
    padding: 0rem 6rem 5rem;
}

.footer {
    background-color: var(--secondary-color);
    padding: 8rem 3rem;
    border-radius: 2rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    border-bottom: 4px solid var(--neutral-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}


.footer1 {
    background-color: var(--secondary-color);
    padding: 3rem;
    border-radius: 2rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5rem;
}

.footer-social {
    display: flex;
    gap: 2rem;
}

.footer-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.social-container {
    height: 5rem;
    width: 5rem;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.social {
    color: var(--cl-text-color);
    font-size: 3rem;
    margin-top: 0.3rem;
}

#ul {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 1.5rem;
}

#h6 {
    color: var(--primary-color);
    margin-bottom: 1rem;
}

#a {
    color: var(--neutral-color);
}

.footer-support {
    display: flex;
    gap: 4rem;
}

.heart {
    color: red;
}